.i-btn {
    background-color: var(--blue);
    color: var(--white);
    padding: .8rem 1rem;
    border-radius: 8px;
    text-align: center;
    outline: 0 !important;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: Verdana;
    text-decoration: none;
}


.i-btn-danger {
    background-color: var(--red);
}

.i-btn.i-btn-disabled {
    cursor: not-allowed;
    background-color: var(--grey);
}
