.i-container {
    display: block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

@media (min-width: 1024px) {

    .i-container {
        padding-left: 10%;
        padding-right: 10%;
    }

}