/* form */
.i-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.i-form-group {
 width: 100%;
}

.i-form-label {
    width: 100%;
    display: block;
    margin-bottom: .4rem;
    font-size: 13px;
    cursor: pointer;
}

.i-form-input {
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
    outline: 0 !important;
    border: 1px solid var(--grey);
}

.i-form-error-mes {
    margin: .4rem 0 0;
    color: var(--red);
    font-size: 12px;
    display: none;
}

.i-form-required-error input,
.i-form-range-error input {
    border-color: var(--red); 
}

.i-form-required-error .i-form-required-error-mes {
    display: block;
}

.i-form-range-error .i-form-range-error-mes {
    display: block;
}

.i-form-group-submit {
    width: 100%;
}

/* select */
.i-form-select {
    display: none !important;
}

.i-form-select-container {

}

.i-form-select-area {
    width: 100%;
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
    outline: 0 !important;
    border: 1px solid var(--grey);
    font-size: 12px;
    position: relative;
}

.i-form-select-placeholder {
    color: var(--lightgrey);
}

.i-form-select-dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey);
    width: 100%;
    background-color: var(--white);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.i-form-select-dropdown.i-show {
    opacity: 1;
    visibility: visible;
}

.i-form-select-option {
    width: 100%;
    font-size: 12px;
    text-align: left;
    padding: 1rem;
    border: 0 !important;
    outline: 0 !important;
    background-color: var(--white);
    cursor: pointer;
}

.i-form-select-option.i-active {
    background-color: var(--blue);
    color: var(--white);
}


/* end-form */