/* form */
.i-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}

.i-form-group {
 width: 100%;
}

.i-form-label {
    width: 100%;
    display: block;
    margin-bottom: .4rem;
    font-size: 13px;
    cursor: pointer;
}

.i-form-input {
    padding: .5rem;
    border-radius: 8px;
    width: 100%;
    outline: 0 !important;
    border: 1px solid var(--grey);
}

.i-form-error-mes {
    margin: .4rem 0 0;
    color: var(--red);
    font-size: 12px;
    display: none;
}

.i-form-required-error input,
.i-form-range-error input {
    border-color: var(--red); 
}

.i-form-required-error .i-form-required-error-mes {
    display: block;
}

.i-form-range-error .i-form-range-error-mes {
    display: block;
}

.i-form-group-submit {
    width: 100%;
}


/* end-form */