/* margins */
.i-mt-1 {
    margin-top: .5rem;
}

.i-mt-2 {
    margin-top: 1rem;
}

.i-mt-3 {
    margin-top: 1.5rem;
}

.i-mt-4 {
    margin-top: 2rem;
}

.i-mt-5 {
    margin-top: 2.5rem;
}

.i-mt-6 {
    margin-top: 3rem;
}

.i-mt-7 {
    margin-top: 3.5rem;
}

.i-mt-8 {
    margin-top: 4rem;
}

.i-mt-9 {
    margin-top: 4.5rem;
}

.i-mt-10 {
    margin-top: 5rem;
}

.i-mt-11 {
    margin-top: 5.5rem;
}

.i-mt-12 {
    margin-top: 6rem;
}

.i-mb-1 {
    margin-bottom: .5rem;
}

.i-mb-2 {
    margin-bottom: 1rem;
}

.i-mb-3 {
    margin-bottom: 1.5rem;
}

.i-mb-4 {
    margin-bottom: 2rem;
}

.i-mb-5 {
    margin-bottom: 2.5rem;
}

.i-mb-6 {
    margin-bottom: 3rem;
}

.i-mb-7 {
    margin-bottom: 3.5rem;
}

.i-mb-8 {
    margin-bottom: 4rem;
}

.i-mb-9 {
    margin-bottom: 4.5rem;
}

.i-mb-10 {
    margin-bottom: 5rem;
}

.i-mb-11 {
    margin-bottom: 5.5rem;
}

.i-mb-12 {
    margin-bottom: 6rem;
}

.i-ms-1 {
    margin-left: .5rem;
}

.i-ms-2 {
    margin-left: 1rem;
}